.faqContainer{
	width:100%;
	height:100%;
	background:#2FB2F4;
}

.faqWrapperContainer{
  display: table-cell;
  vertical-align: middle;
}

.faqWrapperContainer .faqWrapper{
  width: 100%;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
}

.faqConfirmInner{
  border:1px solid #fff;
  border-radius:4px;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding:12px 24px;
  display: inline-block;
  margin-top: 16px;
  opacity: 0;
}

.faqWrapperContainer .faqWrapper .infoHeading p{
	text-transform:uppercase;
	color:#fff;
	font-size:15px;
	font-weight:500;
	border-bottom:1px solid #fff;
	padding:0px 10px 12px 10px;
	display:inline-block;
}

.faqWrapperContainer .faqWrapper li{
	margin-bottom:16px;
}

.faqWrapperContainer .faqWrapper .itemList{
	margin:18px 28px;
}

.faqWrapperContainer .faqWrapper .itemList .itemIndex{
	width:32px;
	height:32px;
	border-radius:50%;
	background:#29A0EF;
	display:inline-block;
}

.faqWrapperContainer .faqWrapper .itemList .itemIndex p{
	color:#F1FBFF;
	font-size:16px;
	font-weight:500;
	line-height:32px;
	text-align:center;
}

.faqWrapperContainer .faqWrapper .itemList p.itemContent{
	font-weight:400;
	color:#fff;
	font-size:14px;
	margin-left	:16px;
	vertical-align:middle;
	width:80%;
	display:inline-block;
	line-height:18px;
}

.termsAndConditionsContainer{
	display: inline-block;
    text-decoration: underline;
}

@media screen and (max-height: 510px) and (-webkit-max-device-pixel-ratio: 1.9) {
  .faqWrapperContainer .faqWrapper .itemList{margin:14px 28px;}
  .faqWrapperContainer .faqWrapper li{margin-bottom:12px;}
  .faqWrapperContainer .faqWrapper .infoHeading p{font-size:13px}
  .faqWrapperContainer .faqWrapper .itemList p.itemContent{font-size:13px;}
  .faqConfirmInner{font-size:13px;}
  .faqWrapperContainer .faqWrapper .itemList .itemIndex p{font-size:14px;line-height:30px}
  .faqWrapperContainer .faqWrapper .itemList .itemIndex{width:30px;height:30px;}
  .faqWrapperContainer .faqWrapper{padding-top:24px;}
}

@media screen and (max-width: 330px) and (-webkit-max-device-pixel-ratio: 2) {
  .faqWrapperContainer .faqWrapper{padding-top:26px;}
}