.giftSWrapper{
  padding: 0px 22px; 
}

.giftSWrapper .giftSenderArea{
  border-radius: 4px;
}

.giftResultContainer .giftSenderArea p.gsHeading{
  font-size: 12px;
  font-weight: 500;
  color: #fff; 
  margin-bottom: 18px; 
}

.giftResultContainer .giftSenderArea .ssOffer{
    margin: 0px auto 14px auto;
    background: #fff;
    border-radius: 4px;
    width: 80%;
    padding: 10px 0px;
}

.osent{
  opacity: 1;
}

.onotsent{
  opacity: 0.20;
}

.giftResultContainer .giftSenderArea .ssOffer .offerIcon{
  background: url(images/santachat.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.giftResultContainer .giftSenderArea .ssOffer .offerContent{
  padding-left :12px;
  text-align:left;
}

.giftResultContainer .giftSenderArea .ssOffer .offerContent p.ohead{
  color: #3D475B;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.80;
}

.giftResultContainer .giftSenderArea .ssOffer .offerContent p.osubhead{
  color: #3D475B;
  font-size: 12px;
  font-weight: 300;
  margin-top: 7px; 
  opacity: 0.80;
}

.giftResultContainer .giftSenderArea .ssOffer .offerValue{
  color: #3D475B;
  font-size: 16px;
  font-weight: 300;
  line-height: 31px;
}

/*  SECTIONS  */
.section {
  clear: both;
  margin: 0px;
}
/*  COLUMN SETUP  */

.col {
  display: block;
  float:left;
}

.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.span_1_of_3 {
  width: 20%;
  text-align:center;
}

.span_2_of_3 {
  width: 70%;
  text-align:center;
}

.span_3_of_3 {
  width: 28%;
  text-align:center; 
}


// Gifts Enabled And Received By User

.giftReceiverArea .giftOpenMessage {
  font-size: 12px;
  font-weight: 400;
  color: rgba(255,255,255,0.80);
  text-transform: uppercase;
  margin-top: 10px;
}

.giftReceiverArea .receivedGiftIcon {
  background: url(images/giftopen.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 94px;
  height: 68px;
  margin: 0px auto;
}

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

hr.giftBounce{
  margin:9px auto 40px auto !important;
}

.giftReceiverArea .giftCodeValue{
    border-radius: 4px;
    border: 1px dashed #fff;
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 15px 10px;
    display: none;
}

.giftReceiverArea .showCode{
  display: block !important;
}

.giftReceiverArea .hideGiftPack{
  display: none !important;
}

@-webkit-keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

@keyframes bounceOutDown {
  20% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 2000px, 0);
    transform: translate3d(0, 2000px, 0);
  }
}

.bounceOutDown {
  -webkit-animation-name: bounceOutDown;
  -webkit-animation-iteration-count: 1;
  animation-name: bounceOutDown;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 2s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -webkit-animation-iteration-count: 1;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 5s;
}

#perSymbol{
  font-size: 14px;
  margin-left: 2px;
}

@media screen and (max-height: 510px) and (-webkit-max-device-pixel-ratio: 1.9) {
  
}
