.panelContainer{
  display: block;
  width: 100%;
  height: 100%;
  background-color:#2FB2F4;
  position: relative;
  z-index: 100;
}

.panelContainer .panelBg{
  background: url(images/mountainsnowupdated.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0px;
  width: 100%;
  padding-top: 105%;
  z-index: -100;  
}

.faqInfoIcon{
  background: url(images/info.png);
  background-size: contain;
  background-repeat: no-repeat;
  width:  20px;
  height: 20px;
  position: absolute;
  right: 20px;
  top: 60px;
}

.panelContainer .panelWrapper{
  display: table-cell;
  vertical-align: middle;
}

.panelContainer .panelWrapper .panelWrapperContainer{
  width: 100%;
  position: absolute;
  top:50%;
  left:50%;
  -webkit-transform:translate(-50%,-50%);
}

.panelWrapper .giftPanel .giftIcon{
  background: url(images/gifts.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 230px;
  height: 128px;
  margin: 0px auto;
}

.panelWrapper .giftPanel .giftShelter{
  margin-top: 32px;
  border: 1px solid rgba(255,255,255,1);
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  padding: 12px 24px;
  border-radius: 4px;
  vertical-align: middle;
}

.panelWrapper .santaPanel{
  margin: 54px auto 0px auto;
  border-radius:4px;
  background:rgba(255,255,255,0.36);
  width: 85%;
}

.panelWrapper .santeePanel{
  margin: 18px auto 0px auto;
  width: 85%;
  background:rgba(255,255,255,0.36);
  border-radius:4px;
}

.panelWrapper .content span{
  font-size: 14px;
  font-weight: 500;
  color: #195c89;
}

.panelWrapper .content p{
  color: #195c89;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 6px; 
}

.panelWrapper .santaPanel .santaButton{
  border: 1px solid rgba(255,255,255,0.80);
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 11px;
  padding: 12px 41px;
  border-radius: 4px;
  vertical-align: middle;
}

.panelWrapper .santaPanel .santaIcon{
  background: url(images/smallsanta.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  margin:12px 12px 12px 18px;
}

.panelWrapper .santeePanel .santeeIcon{
  background: url(images/smallgift.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px; 
  display: inline-block;
  vertical-align: middle;
  margin:12px 12px 12px 18px;
}

.panelWrapper .santaPanel .content, .panelWrapper .santeePanel .content{
  display: inline-block;
  vertical-align: middle;
}

.panelWrapper .santeePanel .santeeButton{
  border: 1px solid rgba(255,255,255,0.80);
  display: inline-block;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  font-size: 11px;
  padding: 12px 41px;
  border-radius: 4px;
  vertical-align: middle;
}

.assigned{
  background: rgba(255,255,255,0.90)!important;
}

@media screen and (max-height: 510px) and (-webkit-max-device-pixel-ratio: 1.9) {
  .panelWrapper .giftPanel .giftIcon{width:180px; height:100px}
  .panelWrapper .santeePanel .santeeIcon{width :32px; height:32px;margin:12px 10px 12px 18px;}
  .panelWrapper .santaPanel .santaIcon{width: 32px;; height:32px;margin:12px 10px 12px 18px;}
  .panelWrapper .content span{font-size:12px;}
  .panelWrapper .content p{font-size:10px;}
  .panelWrapper .giftPanel .giftShelter{padding:9px 18px; font-size:10px;margin-top:24px;}
  .panelWrapper .santaPanel{margin:48px auto 0px auto;}
}

@media screen and (max-width: 330px) and (-webkit-max-device-pixel-ratio: 2) {
  .panelWrapper .santeePanel .santeeIcon{width :32px; height:32px;margin:12px 10px 12px 18px;}
  .panelWrapper .santaPanel .santaIcon{width: 32px;; height:32px;margin:12px 10px 12px 18px;}
  .panelWrapper .content span{font-size:12px;}
  .panelWrapper .content p{font-size:10px;}
  .panelWrapper .giftPanel .giftShelter{padding:9px 18px; font-size:10px;margin-top:24px;}
  .panelWrapper .santaPanel{margin:48px auto 0px auto;}
}