<div class="counterContain">
	<div class="giftsDisabledWrapper">
		<div class="logoContainer">
			<div class="countdownLogo"></div>
		</div>
		<div class="countdownCounter align-center">
			<p id="timecount">
				{{timeCounter.days}}<span id="timetext">D </span>{{timeCounter.hours}}<span id="timetext">H </span>{{timeCounter.minutes}}<span id="timetext">M </span>
			</p>
		</div>
		<p class="countdownDetails">Our fleet of elves are currently working on wrapping gifts for you. Come back on 24th and see your gifts unveiled.</p>
	</div>
</div>	
<div class="panelBg"></div>