<div class="giftsEnabledWrapper"> 
	
	<!-- R -->

	<div class="giftRWrapper">
		<div class="giftReceiverArea align-center Received">
			<p>You have received a new Gift</p>
			<div class="rGiftButton">
				<div class="rGiftIcon bounce"></div>
				<div class="rGiftMessage buttonTap">Tap to open gift</div>
			</div>
		</div>
	</div>
	
	<hr noshade>
	<!-- S -->

	<div class="giftSWrapper">
		<div class="giftSenderArea align-center">
			<p class="gsHeading">You have sent this gift</p>
			
			{{#secretsantaoffers}}
				<div class="ssOffer section group" data-oid="{{offer_id}}">
					<div class="col span_1_of_3 offerIcon"></div>
					<div class="col span_2_of_3 offerContent"><p class="ohead">{{offerheading}}</p><p class="osubhead ellipsis">{{offertext}}</p></div>
				</div>
			{{/secretsantaoffers}}
		
		</div>
	</div>

</div>

<div class="giftsEnabledBg"></div>