<div class="matchContainer">
	<div class="matchWrapper">
		<div class="matchPhoto"></div>
		<div class="matchName align-center">Priya Sharma, 26</div>
		<div class="matchStatus align-center">There’s only 1 thing 2 do 3 words 4 you – I Love You….</div>


	</div>
	<div class="likeSkip align-center">
		<div class="skip">
			<div class="icon"></div>
			<div class="iconText">SKIP</div>
		</div>
		<div class="like">
			<div class="icon"></div>
			<div class="iconText">LIKE</div>
		</div>
	</div>
</div>
