<div class="ProfileContainer">
	<div class="ProfileWrapper">
		<div class="profile_pic"></div>
		<div class="details_container">
			<form>
				<div class="group">      
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Name</label>
				</div>

				<div class="group">      
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Status</label>
				</div>

				<div class="group">      
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Gender</label>
				</div>

				<div class="group">      
					<input type="text" required>
					<span class="highlight"></span>
					<span class="bar"></span>
					<label>Age</label>
				</div>
			</form>
			<div class="align-center lookingfor">I AM LOOKING FOR</div>

		</div>
	</div>
</div>
